@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,400&display=swap");

:root {
    --border-radius-circle: 50%;
    --border-radius: 1rem;

    /**************************
    Colors
    **************************/

    --accent-color: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --para-text-color: hsl(217, 12%, 63%);
    --selected-background-color: hsl(216, 12%, 54%);
    --card-color: hsl(213, 19%, 18%);
    --body-background-color: hsl(216, 12%, 8%);
    --rating-background-color: hsl(210, 26%, 15%);

    /**************************
    Typography
    **************************/

    --font-family: "Overpass", sans-serif;

    /*15px*/
    --font-size: 1rem;
    --weight-400: 400;
    --weight-700: 700;
}

/**************************
Global reset
**************************/

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size);
}

button:disabled {
    cursor: none;
}

p {
    color: var(--para-text-color);
}

html {
    color-scheme: dark;
}

html,
body,
main {
    background-color: var(--background-color);
    min-height: 100dvh;
    min-height: 100vh;
}

body {
    background: var(--body-background-color);
    line-height: 1.8;
    font-size: var(--font-size);
}

main {
    display: grid;
    place-items: center;
}

.card {
    flex-direction: column;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    padding: 2rem;
    display: none;
    width: 90vw;
    max-width: 450px;
    gap: 2rem;
}

.card.active {
    display: flex;
}

/**************************
Rating card
**************************/
.star {
    border-radius: var(--border-radius-circle);
    background-color: var(--rating-background-color);
    padding: 1rem;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-card ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-card ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-card ul li>button {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: var(--border-radius-circle);
    color: var(--para-text-color);
    background-color: var(--rating-background-color);
    transition: background-color 1s ease, color 1s ease;
}

.rating-card ul li>button.selected {
    color: white;
    background-color: var(--para-text-color);
}

.rating-card ul li>button:hover,
.rating-card ul li>button:focus,
.rating-card ul li>button.active {
    background-color: var(--accent-color);
    color: var(--white);
}

.rating-card>button {
    background-color: var(--accent-color);
    border-radius: calc(var(--border-radius) * 2);
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: white;
}

.rating-card>button:not(:disabled):hover,
.rating-card>button:not(:disabled):focus {
    background-color: var(--white);
    color: var(--accent-color);
}

/**************************
Thank you card
**************************/

.thank-you-card {
    height: 501.03px;
    align-items: center;
}

.thank-you-card>img {
    flex: 1;
}

.rating {
    background-color: var(--rating-background-color);
    color: var(--accent-color);
    padding: 0.5rem;
    border-radius: calc(var(--border-radius) * 2);
}

.thank-you-card>p {
    text-align: center;
}